@page {
  size: auto;
  margin: 0;
}

.ToolBar,
.Footer {
  display: none;
}

#editor > #initial-content:empty::before {
  content: "";
}

#editor {
  scale: 1 !important;
}

#context-menu {
  display: none !important;
}

.Main {
  position: sticky;
  left: 0px;
  top: 20px;
}
