@font-face {
  font-family: work-sans;
  font-display: swap;
  src: url("../font/Work_Sans_VF.ttf");
}

@font-face {
  font-family: source-han-sans;
  font-display: swap;
  src: url("../font/Source_Han_Sans_VF.ttf");
}

:root {
  --background-color-primary: white;
  --background-color-secondary: #aaa;
  --border-color-primary: black;
  --border-color-secondary: black;
  --scrollbar-thumb-color: #202020;
  --text-color-error: #f77;
  --text-color-placeholder: #aaa;
  --text-color-primary: black;
  --text-color-selected: #6dffa786;
  --light-dark-transition-duration: 0.5s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-primary: black;
    --background-color-secondary: #202020;
    --border-color-primary: #aaa;
    --border-color-secondary: #404040;
    --scrollbar-thumb-color: #404040;
    --text-color-placeholder: #ccc;
    --text-color-primary: #ddd;
    --text-color-selected: #6dffa786;
  }

  body.light {
    --background-color-primary: white;
    --background-color-secondary: #aaa;
    --border-color-primary: black;
    --border-color-secondary: black;
    --scrollbar-thumb-color: #202020;
    --text-color-error: #f77;
    --text-color-placeholder: #aaa;
    --text-color-primary: black;
    --text-color-selected: #6dffa786;
  }

  body.dark #close-settings > img,
  body.dark #setting-button > img {
    filter: none !important;
  }

  body.light #close-settings > img,
  body.light #setting-button > img {
    filter: brightness(0);
  }

  body.dark .button-joiner > button[id^="format-justify"] > img {
    filter: none !important;
  }

  body.light .button-joiner > button[id^="format-justify"] {
    filter: brightness(0);
  }
}

*::selection {
  background-color: var(--text-color-selected);
}

body {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  font-family: work-sans, source-han-sans, Arial, Helvetica, sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  transition-duration: var(--light-dark-transition-duration);
  transition-property: color, background-color;
}

body::-webkit-scrollbar {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--background-color-secondary);
  transition-duration: var(--light-dark-transition-duration);
  transition-property: background-color;
}

noscript {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: var(--background-color-primary);
}

noscript > #error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  padding: 50px;
  transform: translate(-50%, -50%);
  border: 1px solid var(--border-color-primary);
}

noscript > #error-container > h1 {
  font-weight: 300;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Chrome */
.Main::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  height: 10px;
}

.Main::-webkit-scrollbar-thumb {
  background-color: var(--background-color-secondary);
  cursor: pointer;
}

.Main::-webkit-scrollbar-corner {
  display: none;
}

/* Firefox */
.Main::-moz-scrollbar-track {
  background-color: transparent;
}

.Main::-moz-scrollbar-thumb {
  background-color: var(--background-color-secondary);
  height: 10px;
  width: 10px;
}

.Main::-moz-scrollbar-corner {
  display: none;
}

.ToolBar {
  height: 12%;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: inset 0 -1px var(--border-color-primary);
  display: grid;
  grid-template-rows: 50% 50%;
  background-color: var(--background-color-primary);
  z-index: 900;
  transition-duration: var(--light-dark-transition-duration);
  transition-property: color, background-color;
}

#top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

#bottom {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  gap: 1%;
}

.button-joiner {
  position: relative;
  height: 75%;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--border-color-secondary);
}

#text-format-font {
  position: relative;
  height: 75%;
  display: grid;
  grid-template-columns: 80% 20%;
  border: 1px solid var(--border-color-secondary);
  width: 10%;
  padding: 0 5px;
  box-sizing: border-box;
}

#text-format-font > input {
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);
  display: block;
  outline: none;
  font-family: work-sans, source-han-sans, Arial, Helvetica, sans-serif;
  border: none;
  transition-duration: var(--light-dark-transition-duration);
  transition-property: color, background-color;
}

#text-format-font > input::placeholder {
  user-select: none;
}

#format-font-family {
  display: block;
  text-overflow: ellipsis;
}

#format-font-size {
  text-align: center;
  width: 3ch;
  font-weight: 500;
}

#text-format-inferior-superior {
  width: 4%;
}

#text-format {
  width: 8%;
}

#text-format > button,
#text-format-inferior-superior > button {
  color: var(--text-color-primary);
  position: relative;
  font-size: 1.75vh;
  cursor: pointer;
  border: 0;
  aspect-ratio: 1;
  background-color: transparent;
  user-select: none;
}

.button-joiner > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-joiner > button[id^="format-justify"] {
  width: 30px;
}

.button-joiner > button > img {
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  width: 15px;
  height: 15px;
}

#title-content {
  position: relative;
  width: fit-content;
}

#title-input {
  cursor: pointer;
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  border: none;
  outline: none;
  font-size: 20px;
  font-family: work-sans, source-han-sans, Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-overflow: ellipsis;
  text-align: left;
  width: 20ch;
  transition-duration: var(--light-dark-transition-duration);
  transition-property: color, background-color;
}

.Main {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 80%;
  overflow: auto;
}

#editor {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  margin: 0 auto;
  outline: none;
  line-height: 1.5;
  padding-bottom: 25vh;
  transform-origin: -50% 0;
}

#editor > #initial-content:empty::before {
  content: attr(data-placeholder);
  pointer-events: none;
  color: var(--text-color-placeholder);
}

#editor > div[data-text-align="left"] {
  text-align: left;
}

#editor > div[data-text-align="center"] {
  text-align: center;
}

#editor > div[data-text-align="right"] {
  text-align: right;
}

#editor > div[data-text-align="justify"] {
  text-align: justify;
}

.Footer {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  top: 100%;
  transform: translate(0, -100%);
  height: 5%;
  width: 100%;
  box-shadow: inset 0 1px var(--border-color-primary);
  background-color: var(--background-color-primary);
  transition-duration: var(--light-dark-transition-duration);
  transition-property: color, background-color;
}

.Footer > #statistics {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
}

.Footer > #statistics > div {
  display: flex;
  align-self: center;
}

.Footer > #footer-options {
  display: flex;
  justify-content: center;
}

.Footer > #footer-options > div {
  height: fit-content;
  align-self: center;
}

#word-count{
  cursor: pointer;
}

#zoom-percent-sign {
  font-size: 16px;
  user-select: none;
}

#manage-zoom-cont {
  display: grid;
  grid-template-columns: 70% auto;
  width: 250px;
}

#zoom-range {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 150px;
  outline: none;
  cursor: pointer;
}

/* Chrome */
#zoom-range::-webkit-slider-runnable-track {
  background-color: var(--background-color-secondary);
  height: 0.5rem;
}

#zoom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: ew-resize;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 5px;
  background-color: var(--scrollbar-thumb-color);
}

/* Firefox */
#zoom-range::-moz-range-track {
  background-color: var(--background-color-secondary);
  height: 0.5rem;
}

#zoom-range::-moz-range-thumb {
  appearance: none;
  cursor: ew-resize;
  height: 20px;
  width: 5px;
  background-color: var(--scrollbar-thumb-color);
  border-radius: 0;
  border: none;
}

#zoom-control-input {
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);
  font-family: work-sans, source-han-sans, Arial, Helvetica, sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  width: 4ch;
  text-align: center;
  transition-duration: var(--light-dark-transition-duration);
  transition-property: color, background-color;
}

.error {
  text-decoration: underline;
  text-decoration-color: var(--text-color-error);
  text-underline-position: under;
}

#option-configuration {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 20px;
}

.icon-button {
  transition-duration: var(--light-dark-transition-duration);
  transition-property: color, background-color;
  background-color: var(--background-color-primary);
  cursor: pointer;
  position: relative;
  border: none;
  height: 32px;
  width: 32px;
  outline: none;
}

.icon-button > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  user-select: none;
  width: 28px;
  height: 28px;
  transform: translate(-50%, -50%);
}

/*

SETTINGS

*/

#settings-view {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 50vw;
  padding-bottom: 25vh;
}

#settings-view header {
  margin-top: 50px;
  display: flex;
  justify-content: end;
}

#settings-view header > hgroup > button {
  background-color: var(--background-color-primary);
  border: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  transition-duration: var(--light-dark-transition-duration);
  transition-property: background-color;
}

#settings-view header > hgroup > button > img {
  position: relative;
  height: 28px;
  width: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-user-drag: none;
  user-select: none;
}

#settings-view hr {
  margin: 32px 0;

  --border-color-secondary: #eee;

  border-color: var(--border-color-secondary);
}

#settings-view > h1 {
  font-weight: 400;
  font-size: 54px;
}

#settings-view h2 {
  font-weight: 300;
  font-size: 48px;
}

#settings-view h3 {
  font-weight: 300;
  font-size: 42px;
}

select {
  font-family: work-sans, source-han-sans, Arial, Helvetica, sans-serif;
  font-size: 20px;
  user-select: none;
  padding: 5px 10px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  border: 1px solid var(--border-color-primary);
  width: fit-content;
  transition-duration: var(--light-dark-transition-duration);
  transition-property: color, background-color;
}

select option {
  font-family: work-sans, source-han-sans, Arial, Helvetica, sans-serif;
  background-color: var(--background-color-primary);
}

select option:checked {
  background-color: var(--text-color-selected);
}

#settings-apprearance-themes {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 5px;
  height: 500px;
}

#settings-apprearance-themes > div {
  display: flex;
  border: 1px solid var(--border-color-secondary);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#font-family-dropdown {
  position: fixed;
  display: flex;
  z-index: 8000;
  height: 20px;
  background-color: var(--background-color-primary);
  box-shadow: inset -0.5px -0.5px var(--border-color-primary), inset 0.5px 0 var(--border-color-primary);
  font-size: 14px;
  padding: 5px;
  box-sizing: border-box;
}

/*

Context menu

*/

#context-menu {
  position: fixed;
  background-color: var(--background-color-primary);
  border: 1px solid var(--border-color-primary);
  z-index: 9999;
  box-sizing: border-box;
  padding: 5px;
}

#main-cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 9998;
}

/* 

DARK THEME (VIA JS)

*/

body.dark {
  background-color: black;
  color: #ddd;
}

body.dark::-webkit-scrollbar-thumb {
  background-color: #202020;
}

body.dark noscript {
  background-color: black;
}

body.dark noscript > #error-container {
  border: 1px solid #aaa;
}

body.dark .Main::-webkit-scrollbar-thumb {
  background-color: #202020;
}

body.dark .Main::-moz-scrollbar-thumb {
  background-color: #202020;
}

body.dark .ToolBar {
  box-shadow: inset 0 -1px #aaa;
  background-color: black;
}

body.dark .button-joiner {
  border: 1px solid #404040;
}

body.dark #text-format-font {
  border: 1px solid #404040;
}

body.dark #text-format-font > input {
  color: #ddd;
  background-color: black;
}

body.dark #text-format > button,
body.dark #text-format-inferior-superior > button {
  color: #ddd;
}

body.dark .button-joiner > button[id^="format-justify"] > img {
  filter: invert(calc((280 / 3)));
}

body.dark #title-input {
  background-color: black;
  color: #ddd;
}

body.dark #editor > #initial-content:empty::before {
  color: #ccc;
}

body.dark .Footer {
  box-shadow: inset 0 1px #aaa;
  background-color: black;
}

body.dark #zoom-range::-webkit-slider-runnable-track {
  background-color: #202020;
}

body.dark #zoom-range::-webkit-slider-thumb {
  background-color: #404040;
}

body.dark #zoom-range::-moz-range-track {
  background-color: #202020;
}

body.dark #zoom-range::-moz-range-thumb {
  background-color: #404040;
}

body.dark #zoom-control-input {
  color: #ddd;
  background-color: black;
}

body.dark .icon-button {
  background-color: black;
}

body.dark #settings-view header > hgroup > button {
  background-color: black;
}

body.dark #settings-view hr {
  border-color: #eee;
}

body.dark #settings-apprearance-themes > div {
  border: 1px solid #404040;
}

body.dark select {
  background-color: black;
  color: #ddd;
  border: 1px solid #aaa;
}

body.dark select option {
  font-family: work-sans, source-han-sans, Arial, Helvetica, sans-serif;
  background-color: black;
}

body.dark #close-settings > img,
body.dark #setting-button > img {
  /* 
    Since the icons is originally filled as black, we can say that invert(1), 
    is white (#FFFFFF). Inversion just takes this as a spectrum of black to 
    white, from #000000 to #FFFFFF. Since 0xEEEEEE/0xFFFFFF is 93.33%, we can 
    say that at 93.33% (simplfies to 280/3) the color is #EEEEEE. So we have :
  */
  filter: invert(calc((280 / 3)));
}

body.dark #context-menu {
  background-color: black;
  border: 1px solid #aaa;
}

body.dark #font-family-dropdown {
  background-color: black;
  box-shadow: inset -0.5px -0.5px #404040, inset 0.5px 0 #404040;
}
